.idea
.DS_Store
data/uploaded/*
!data/uploaded/.gitkeep

data/db/*
!data/db/.gitkeep

data/db_tpu/*
!data/db_tpu/.gitkeep

__pycache__

nltk_data/

*.zip
*.tar
*.tar.gz

models/
!models/.gitkeep

*.bmodel
*.bin
*.pt

*.pdf

sophon-sail/
python_wheels/
*.whl